$font: 'Roboto', sans-serif;
$bgcolor: #fff;
$primary: rgb(25, 118, 210);

html {
  font-family: $font;
  margin: 0;
}

body {
  font-size: 13px;
  line-height: 20px;
  background-color: $bgcolor;
  margin: 0;
}

nav {
  margin: 30px 15px;
  color: $primary;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  a {
    color: $primary;
    text-decoration: none;
  }
}

.jumbotron {
  margin: 15px;
}
